{% extends 'kursach/base.html' %}
{% load filterForDict %}
{% block content %}
    <div class="container text-center">
        <div class="row">
            {% for item in object_list %}
                {% if item.check_user_id == user %}
                    <div class="card" style="width: 18rem; margin: 15px 20px 0 0;">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ item.check_name }}</li>
                        <li class="list-group-item"><a href="#">{{ item.check_category_id }}</a></li>
                        <li class="list-group-item">{{ item.check_count }}</li>
                          <li class="list-group-item">{{ item.check_user_id.username }}</li>
                        <li class="list-group-item">{{ item.check_transaction_date }}</li>
                        <li class="list-group-item">{{ item.check_price }}</li>
                      </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock  %}