{% extends 'kursach/base.html' %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" class="row">
        {% csrf_token %}
            <div class="d-flex flex-column align-items-center justify-content-between">
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
                <div class="col-2 p-2">
                    <label for="formFile" class="form-label">{{ form.checkImg.label}}</label>
                    {{form.checkImg}}
                </div>
                <div class="col-2 p-2">
                    <label for="formFile" class="form-label">{{ form.check_category_id.label}}</label>
                    {{form.check_category_id}}
                </div>
                <div class="col-2 p-2" ><input type="submit" class="btn btn-primary col-12"></div>
             </div>
    </form>
{% endblock %}
