{% extends 'kursach/base.html' %}
{% load filterForDict %}
{% block content %}

    <div class="container text-center">
        <div class="row">
            {% for item in object_list%}
                {% if item.item_user_id == user %}
                    <div class="card" style="width: 18rem; margin: 15px 20px 0 0;">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ item.item_name }}</li>
                        <li class="list-group-item"><a href="#">{{ item.item_category_id }}</a></li>
                        <li class="list-group-item">{{ item.item_type_id }}</li>
                          <li class="list-group-item">{{ item.item_user_id.first_name }}</li>
                        <li class="list-group-item">{{ item.item_transaction_date }}</li>
                        <li class="list-group-item">{{ item.item_price }}</li>
                      </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock  %}