{% extends 'kursach/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'kursach/js/vanillajs-datepicker/dist/css/datepicker.css' %}">
{%  endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
            <div class="d-flex flex-column align-items-center justify-content-between">
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
                <div class="col-2 p-2">
                    <label for="formFile" class="form-label">{{ form.item_type_id.label}}</label>
                    {{form.item_type_id}}
                </div>
                <div class="col-2 p-2">
                    <label for="formFile" class="form-label">{{ form.item_transaction_date.label}}</label>
                    {{form.item_transaction_date}}
                </div>
                <div class="col-2 p-2">
                    <label for="formFile" class="form-label">{{ form.item_name.label}}</label>
                    {{form.item_name}}
                </div>
                <div class="col-2 p-2">
                    <label for="formFile" class="form-label">{{ form.item_category_id.label}}</label>
                    {{form.item_category_id}}
                </div>
                <div class="col-2 p-2">
                    <label for="formFile" class="form-label">{{ form.item_price.label}}</label>
                    {{form.item_price}}
                </div>
                <div class="col-2 p-2" ><input type="submit" class="btn btn-primary col-12"></div>
             </div>
    </form>
    <script type="module" src="{% static 'kursach/js/date_picker.js' %}"></script>
{% endblock %}